[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized
[submodule "vim"]
	path = vim
	url = http://github.com/tonicebrian/vimconfig
[submodule "emacs.d"]
	path = emacs.d
	url = http://github.com/tonicebrian/emacsconfig
